<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
</head>
<body>
	<h1 align="center">Cadastro de Livro</h1><br><br>
	<form action="/produtos" method="POST">
		<label for="titulo">Título</label>
		<input name="titulo">
		<label for="descricao">Descrição</label>
		<textarea name="descricao"></textarea>
		<label for="preco">Preço</label>
		<input name="preco"><br><br>
		<input type="submit" value="Cadastrar">
	</form>
</body>
</html>